@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-size: 20px;
  font-family: "Philosopher", sans-serif;
  background: rgba(44, 174, 186, 0.7);
  color: #ffffff;
}

.wrapper {
  margin: 50px auto;
  max-width: 600px;
}
.weather-container {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Assets/pexels-photo-268917.webp") center/cover no-repeat;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.status {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.units {
  position: relative;
  top: -10px;
  font-size: 18px;
  font-weight: bolder;
}
.active {
  color: #ffffff;
  cursor: default;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
}
.weather-forecast-date,
.weather-forecast-temperature-min {
  font-size: 18px;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 16px;
}
